#canvas {
  width: 100%;
  height: 500px;
  border: 3px solid #333;
  cursor: pointer;
}

body {
}

tr.alive > td {
 font-weight: bold;
 color: rgba(0, 92, 42, 1);
}

tr.burning > td {
  font-weight: bold;
  color: rgba(248, 53, 42, 1);
}

tr.dead > td {
  font-weight: bold;
  color: rgba(92, 15, 7, 1);
}
